### LIA middle school students Analysis

Loading Libraries

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sys, os

import warnings
warnings.filterwarnings('ignore')
#pd.set_option('display.max_columns', 70)

sys.path.append(os.path.abspath(os.path.join('../scripts')))
from cleaner import *
from visualizer import *

Loading data

In [4]:
df = pd.read_csv("../data/mergedhighschool.csv")
df.head()

,Name,Age,Gender,Nationality,POB,Tutor/Makeup,Grade,Admission,Guardian,time_with_parents,...,Physics,Chemistry,Biology,Geography,History,Civics,Amharic,ICT,Ent-ship,HPE
0,Abem Kibru Worku,15,M,Ethiopian,Ethiopia,no,9,Paid,Both,little,...,72.76,44.70,66.37,73.02,72.19,87.43,96.58,71.31,76.26,64.90
1,Amanuel Demeke Hailu,14,M,Ethiopian,Addis Ababa,no,9,Paid,both,little,...,70.85,77.20,69.77,74.17,81.65,76.48,84.84,80.42,77.16,86.00
2,Ananya Girma Tegegn,14,M,Ethiopian,Addis Ababa,no,9,Scholarship,both,a lot,...,85.77,97.90,96.27,95.33,83.40,93.05,97.18,94.27,88.76,89.50
3,Blen Amare Mesfin,15,F,Ethiopian,Addis Ababa,no,9,Paid,both,a lot,...,67.95,76.70,79.35,78.50,75.03,83.81,96.15,88.55,83.16,84.00
4,Dagmawi Misganaw Bimerew,14,M,Ethiopian,Ethiopia,yes,9,Paid,both,a lot,...,76.69,71.97,84.72,85.04,84.30,88.48,94.10,92.66,85.66,93.25

In [5]:
print('Middle_school Students Missing Data')
df.info()

Middle_school Students Missing Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Name                        172 non-null    object
 1   Age                         172 non-null    int64
 2   Gender                      172 non-null    object
 3   Nationality                 172 non-null    object
 4   POB                         172 non-null    object
 5   Tutor/Makeup                172 non-null    object
 6   Grade                       172 non-null    int64
 7   Admission                   172 non-null    object
 8   Guardian                    171 non-null    object
 9   time_with_parents           167 non-null    object
 10  communication_with_parents  167 non-null    object
 11  Reward_for_achievements     167 non-null    object
 12  parent_understanding        167 non-null    object
 13  Transport_type              172 non-null    object
 14  Residence                   171 non-null    object
 15  Travel Time                 170 non-null    object
 16  Birth_order                 172 non-null    object
 17  Exercice                    171 non-null    float64
 18  Previous_school             172 non-null    object
 19  mother_tongue               169 non-null    object
 20  Curriculum                  171 non-null    object
 21  Sleeping time_in_pm         164 non-null    float64
 22  parenting_style             164 non-null    object
 23  Trauma                      170 non-null    float64
 24  Type                        170 non-null    object
 25  Literature                  172 non-null    float64
 26  Eng                         100 non-null    float64
 27  Maths                       171 non-null    float64
 28  Physics                     139 non-null    float64
 29  Chemistry                   139 non-null    float64
 30  Biology                     139 non-null    float64
 31  Geography                   133 non-null    float64
 32  History                     134 non-null    float64
 33  Civics                      171 non-null    float64
 34  Amharic                     170 non-null    float64
 35  ICT                         171 non-null    float64
 36  Ent-ship                    134 non-null    float64
 37  HPE                         172 non-null    float64
dtypes: float64(16), int64(2), object(20)
memory usage: 51.2+ KB

In [6]:
df.columns = df.columns.str.lower()
df.columns

Index(['name', 'age', 'gender', 'nationality', 'pob', 'tutor/makeup', 'grade',
       'admission', 'guardian', 'time_with_parents',
       'communication_with_parents', 'reward_for_achievements',
       'parent_understanding', 'transport_type', 'residence', 'travel time',
       'birth_order', 'exercice', 'previous_school', 'mother_tongue',
       'curriculum', 'sleeping time_in_pm', 'parenting_style', 'trauma',
       'type', 'literature', 'eng', 'maths', 'physics', 'chemistry', 'biology',
       'geography', 'history', 'civics', 'amharic', 'ict', 'ent-ship', 'hpe'],
      dtype='object')

#### Checking Missing Values

In [7]:
df.isna().sum()

name                           0
age                            0
gender                         0
nationality                    0
pob                            0
tutor/makeup                   0
grade                          0
admission                      0
guardian                       1
time_with_parents              5
communication_with_parents     5
reward_for_achievements        5
parent_understanding           5
transport_type                 0
residence                      1
travel time                    2
birth_order                    0
exercice                       1
previous_school                0
mother_tongue                  3
curriculum                     1
sleeping time_in_pm            8
parenting_style                8
trauma                         2
type                           2
literature                     0
eng                           72
maths                          1
physics                       33
chemistry                     33
biology                       33
geography                     39
history                       38
civics                         1
amharic                        2
ict                            1
ent-ship                      38
hpe                            0
dtype: int64

### Filling Missing Values

In [8]:
df['parenting_style'].fillna(df['parenting_style'].mode()[0], inplace=True)
df['time_with_parents'].fillna(df['time_with_parents'].mode()[0], inplace=True)
df['communication_with_parents'].fillna(df['communication_with_parents'].mode()[0], inplace=True)
df['reward_for_achievements'].fillna(df['reward_for_achievements'].mode()[0], inplace=True)
df['parent_understanding'].fillna(df['parent_understanding'].mode()[0], inplace=True)
df['travel time'].fillna(df['travel time'].mode()[0], inplace=True)
df['mother_tongue'].fillna(df['mother_tongue'].mode()[0], inplace=True)
df['curriculum'].fillna(df['curriculum'].mode()[0], inplace=True)
df['trauma'].fillna(df['trauma'].mode()[0], inplace=True)
df['exercice'].fillna(df['exercice'].mode()[0], inplace=True)
df['type'].fillna(df['type'].mode()[0], inplace=True)
df['sleeping time_in_pm'].fillna(df['sleeping time_in_pm'].mode()[0], inplace=True)
df['residence'].fillna(df['residence'].mode()[0], inplace=True)
df['guardian'].fillna(df['guardian'].mode()[0], inplace=True)

In [9]:
df.isna().sum()

name                           0
age                            0
gender                         0
nationality                    0
pob                            0
tutor/makeup                   0
grade                          0
admission                      0
guardian                       0
time_with_parents              0
communication_with_parents     0
reward_for_achievements        0
parent_understanding           0
transport_type                 0
residence                      0
travel time                    0
birth_order                    0
exercice                       0
previous_school                0
mother_tongue                  0
curriculum                     0
sleeping time_in_pm            0
parenting_style                0
trauma                         0
type                           0
literature                     0
eng                           72
maths                          1
physics                       33
chemistry                     33
biology                       33
geography                     39
history                       38
civics                         1
amharic                        2
ict                            1
ent-ship                      38
hpe                            0
dtype: int64

#####  Saving version3 of data into csv

In [10]:
#df.to_csv('ms_nomv.csv', index=False)

In [11]:
df.dtypes

name                           object
age                             int64
gender                         object
nationality                    object
pob                            object
tutor/makeup                   object
grade                           int64
admission                      object
guardian                       object
time_with_parents              object
communication_with_parents     object
reward_for_achievements        object
parent_understanding           object
transport_type                 object
residence                      object
travel time                    object
birth_order                    object
exercice                      float64
previous_school                object
mother_tongue                  object
curriculum                     object
sleeping time_in_pm           float64
parenting_style                object
trauma                        float64
type                           object
literature                    float64
eng                           float64
maths                         float64
physics                       float64
chemistry                     float64
biology                       float64
geography                     float64
history                       float64
civics                        float64
amharic                       float64
ict                           float64
ent-ship                      float64
hpe                           float64
dtype: object

#### Filling numeric values with mean

In [12]:
df['civics'].fillna(df['civics'].mean(), inplace=True)
df['amharic'].fillna(df['amharic'].mean(), inplace=True)
df['ict'].fillna(df['ict'].mean(), inplace=True)
df['maths'].fillna(df['maths'].mean(), inplace=True)

In [13]:
df.isna().sum()

name                           0
age                            0
gender                         0
nationality                    0
pob                            0
tutor/makeup                   0
grade                          0
admission                      0
guardian                       0
time_with_parents              0
communication_with_parents     0
reward_for_achievements        0
parent_understanding           0
transport_type                 0
residence                      0
travel time                    0
birth_order                    0
exercice                       0
previous_school                0
mother_tongue                  0
curriculum                     0
sleeping time_in_pm            0
parenting_style                0
trauma                         0
type                           0
literature                     0
eng                           72
maths                          0
physics                       33
chemistry                     33
biology                       33
geography                     39
history                       38
civics                         0
amharic                        0
ict                            0
ent-ship                      38
hpe                            0
dtype: int64

In [14]:
df[df['geography'].isna()][['name', 'geography', 'grade']]

                            name  geography  grade
120       Abigail Zerihun ewentu        NaN     11
121          Amlakbekalu Tessema        NaN     11
122    Birhane Telayneh Kefyalew        NaN     11
123     Demetrius Zerihun Khasai        NaN     11
124       Ephrata Tadesse Tefera        NaN     11
125           Feysel Anwar Surur        NaN     11
126         Luelue Luqman Kedir         NaN     11
127            Nuur Ahmed Merduf        NaN     11
128           Ruth Melknew Chane        NaN     11
129        Selamawit Kibru Worku        NaN     11
130     Silondis kenmos tesfaye         NaN     11
131          Yidedya Feta Nibezo        NaN     11
132      Afomia Daginenet Yimenu        NaN     12
133      Alamin Abdulshikur Menu        NaN     12
134            Amar Sultan fedlu        NaN     12
135         Ayantu Asrat Gadissa        NaN     12
136        Aymen Abdella Feyissa        NaN     12
137     Baselael Mekonen Tesfaye        NaN     12
138           Fanuel Asfaw Banti        NaN     12
139       Iman Abdulhakim Gharad        NaN     12
140        Kaleab Yonas G/mariam        NaN     12
141  Maedot Kahsay Geberegiorgis        NaN     12
142         Nathnael Sime Mechal        NaN     12
143       Nathnael Tilahun Kalew        NaN     12
144         Rekik Tsegaye Challa        NaN     12
145   Separa Berhanu Hailemariam        NaN     12
146          Tariku Samson Hailu        NaN     12
147          Tesnim Fethi Shami         NaN     12
148          Yanet Ayanaw Malede        NaN     12
149      Bereket Yimolal Tiruneh        NaN     12
150        Elroi Abebaw Getachew        NaN     12
151      Ermias Haimanot Tsegaye        NaN     12
152          Eyob Kebede Atisedi        NaN     12
153           Sophia Jemal Edris        NaN     12
154        Stefan Daniel Seleshi        NaN     12
155           Selam Wudma Sahile        NaN     12
156       Marta Alemayehu Assefa        NaN     12
157         Leoul Hailu Woldeyes        NaN     12
158     Abimelek Daniel Tekalign        NaN     12

In [15]:
#assigning average geography result to missing values in social class
df.geography.mean()

83.96819548872178

In [16]:
df.iloc[158]['geography'] = df.geography.mean()

In [17]:
df.iloc[158]['geography']

nan

In [18]:
for i in df.columns:
    if df[i].dtype == 'O':
        df[i] = df[i].astype("string")

In [19]:
for i in df.columns:
    if df[i].dtype == 'string':
        df[i] = df[i].apply(lambda x: x.lower())

In [20]:
df.gender.value_counts()

m    87
f    85
Name: gender, dtype: int64

In [21]:
df['pob'].value_counts()

addis ababa       95
ethiopia          42
usa                7
saudi arabia       3
london             2
hawassa            2
tigray             2
virginia           2
south ethiopia     1
aden               1
assela             1
harrar             1
snnp               1
debremarkos        1
adama              1
california         1
gurage             1
wolayta            1
oromia             1
israel             1
fiche              1
dila               1
werabe             1
debreziet          1
toronto            1
Name: pob, dtype: int64

In [22]:
def jah(x):
    if x not in ('london', 'toronto', 'israel', 'california', 'aden', 'virginia', 'usa', 'saudi arabia'):
        return 'ethiopia'
    else:
        return 'foriegn_soil'

In [23]:
df['pob'] = df['pob'].apply(jah)
df['pob'].value_counts()

ethiopia        154
foriegn_soil     18
Name: pob, dtype: int64

In [24]:
df['tutor/makeup'].value_counts()

no     135
yes     37
Name: tutor/makeup, dtype: int64

In [25]:
df.residence.value_counts()

lebu               12
german square       8
bisrate gabriel     8
kality              7
jemo 2              6
                   ..
shola               1
fm jerba            1
piassa              1
atena tera          1
carl square         1
Name: residence, Length: 75, dtype: int64

In [26]:
df.nationality.value_counts()

ethiopian    155
american       9
british        4
yemeni         1
ehiopian       1
italian        1
canadian       1
Name: nationality, dtype: int64

In [27]:
df.nationality = df['nationality'].replace('ehiopian', 'ethiopian')
df.nationality.value_counts()

ethiopian    156
american       9
british        4
yemeni         1
italian        1
canadian       1
Name: nationality, dtype: int64

In [28]:
df.grade.value_counts()

9     57
10    44
12    40
11    31
Name: grade, dtype: int64

In [29]:
df.guardian.value_counts()

both      138
mother     20
other      10
father      4
Name: guardian, dtype: int64

In [30]:
df.admission.value_counts()

paid           105
scholarship     67
Name: admission, dtype: int64

In [31]:
df['time_with_parents'].value_counts()

a lot       130
little       33
not much      9
Name: time_with_parents, dtype: int64

In [32]:
df['communication_with_parents'].value_counts()
df['communication_with_parents'] = df['communication_with_parents'].replace('somehow', 'somehow agree')
df['communication_with_parents'].value_counts()

strongly agree       81
agree                67
somehow agree        21
disagree              2
strongly disagree     1
Name: communication_with_parents, dtype: int64

In [33]:
df['reward_for_achievements'].value_counts()

strongly agree       80
agree                50
somehow agree        29
disagree              6
strongly disagree     4
stronlgly agree       1
stronlgy agree        1
somehow               1
Name: reward_for_achievements, dtype: int64

In [34]:
df['reward_for_achievements'] = df['reward_for_achievements'].replace('stronlgly agree', 'strongly agree')
df['reward_for_achievements'] = df['reward_for_achievements'].replace('stronlgy agree', 'strongly agree')
df['reward_for_achievements'] = df['reward_for_achievements'].replace('somehow', 'somehow agree')
df['reward_for_achievements'].value_counts()

strongly agree       82
agree                50
somehow agree        30
disagree              6
strongly disagree     4
Name: reward_for_achievements, dtype: int64

In [35]:
#########################################3

In [36]:
df.transport_type.value_counts()

private    88
public     44
service    38
on foot     2
Name: transport_type, dtype: int64

In [37]:
df.birth_order.value_counts() 
#do middle children tend to be forgotten?? #Barkot

first child     76
middle child    47
last child      45
only child       4
Name: birth_order, dtype: int64

In [38]:
df.parenting_style.value_counts()
### A lot of Data Cleaning to do here
### Refer to Data Cleaning Checklist on Notion

authoritative     134
authoritarian      23
permissive          6
authoritaive        2
authorittaive       2
authoratiarian      1
pemissive           1
-                   1
authortative        1
authoriative        1
Name: parenting_style, dtype: int64

In [39]:
df.parenting_style = df['parenting_style'].replace('authoritaive', 'authoritative')
df.parenting_style = df['parenting_style'].replace('authorittaive', 'authoritative')
df.parenting_style = df['parenting_style'].replace('authortative', 'authoritative')
df.parenting_style = df['parenting_style'].replace('authoriative', 'authoritative')
df.parenting_style = df['parenting_style'].replace('pemissive', 'permissive')
df.parenting_style = df['parenting_style'].replace('authoratiarian', 'authoritarian')
df.parenting_style = df['parenting_style'].replace('-', 'authoritative')
df.parenting_style.value_counts()

authoritative    141
authoritarian     24
permissive         7
Name: parenting_style, dtype: int64

In [40]:
df.parent_understanding.value_counts()

strongly agree       62
agree                51
somehow agree        42
disagree             12
strongly disagree     5
Name: parent_understanding, dtype: int64

In [41]:
df['travel time'].value_counts()
df['travel time'] = df['travel time'].replace('30', '30-60')
df['travel time'] = df['travel time'].replace('20-30', '30-60')
df['travel time'].value_counts()

30-60    62
60+      44
15-30    43
15-      23
Name: travel time, dtype: int64

In [42]:
df.columns

Index(['name', 'age', 'gender', 'nationality', 'pob', 'tutor/makeup', 'grade',
       'admission', 'guardian', 'time_with_parents',
       'communication_with_parents', 'reward_for_achievements',
       'parent_understanding', 'transport_type', 'residence', 'travel time',
       'birth_order', 'exercice', 'previous_school', 'mother_tongue',
       'curriculum', 'sleeping time_in_pm', 'parenting_style', 'trauma',
       'type', 'literature', 'eng', 'maths', 'physics', 'chemistry', 'biology',
       'geography', 'history', 'civics', 'amharic', 'ict', 'ent-ship', 'hpe'],
      dtype='object')

In [43]:
df.mother_tongue.value_counts()
df.mother_tongue = df['mother_tongue'].replace('harrari', 'eth-lang')
df.mother_tongue = df['mother_tongue'].replace('tigrigna', 'eth-lang')
df.mother_tongue = df['mother_tongue'].replace('amharic', 'eth-lang')
df.mother_tongue = df['mother_tongue'].replace('harari', 'eth-lang')
df.mother_tongue = df['mother_tongue'].replace('russian', 'for-lang')
df.mother_tongue = df['mother_tongue'].replace('english', 'for-lang')
df.mother_tongue = df['mother_tongue'].replace('arabic', 'for-lang')
df.mother_tongue = df['mother_tongue'].replace('hebrew', 'for-lang')
df.mother_tongue.value_counts()

eth-lang    152
for-lang     20
Name: mother_tongue, dtype: int64

In [44]:
df['curriculum'].value_counts()

no     107
yes     65
Name: curriculum, dtype: int64

In [45]:
df.previous_school.value_counts()

gibson          20
intellectual    10
jemo 2           9
abay             8
andinet          6
                ..
addis sefer      1
tuludimtu        1
radical          1
reach            1
scs              1
Name: previous_school, Length: 83, dtype: int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 38 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   name                        172 non-null    object
 1   age                         172 non-null    int64
 2   gender                      172 non-null    object
 3   nationality                 172 non-null    object
 4   pob                         172 non-null    object
 5   tutor/makeup                172 non-null    object
 6   grade                       172 non-null    int64
 7   admission                   172 non-null    object
 8   guardian                    172 non-null    object
 9   time_with_parents           172 non-null    object
 10  communication_with_parents  172 non-null    object
 11  reward_for_achievements     172 non-null    object
 12  parent_understanding        172 non-null    object
 13  transport_type              172 non-null    object
 14  residence                   172 non-null    object
 15  travel time                 172 non-null    object
 16  birth_order                 172 non-null    object
 17  exercice                    172 non-null    float64
 18  previous_school             172 non-null    object
 19  mother_tongue               172 non-null    object
 20  curriculum                  172 non-null    object
 21  sleeping time_in_pm         172 non-null    float64
 22  parenting_style             172 non-null    object
 23  trauma                      172 non-null    float64
 24  type                        172 non-null    object
 25  literature                  172 non-null    float64
 26  eng                         100 non-null    float64
 27  maths                       172 non-null    float64
 28  physics                     139 non-null    float64
 29  chemistry                   139 non-null    float64
 30  biology                     139 non-null    float64
 31  geography                   133 non-null    float64
 32  history                     134 non-null    float64
 33  civics                      172 non-null    float64
 34  amharic                     172 non-null    float64
 35  ict                         172 non-null    float64
 36  ent-ship                    134 non-null    float64
 37  hpe                         172 non-null    float64
dtypes: float64(16), int64(2), object(20)
memory usage: 51.2+ KB