## Evaluation

In [119]:
import sklearn
import pandas as pd
from sklearn.metrics import mean_squared_error

In [120]:
df = pd.read_csv('ne.csv')
v = mean_squared_error(df.Real, df.Predicted)

In [121]:
df.head()

     name  Predicted  Real  fake
0  afomia        561   551   621
1  alamin        389   389   459
2    amar        356   325   395
3  ayantu        465   473   543
4   aymen        295   382   452

In [128]:
from sklearn.metrics import mean_squared_error
import numpy as np

rmse = np.sqrt(v)

target_range = np.max(df.Real) - np.min(df.Real)

percentage_accuracy = (1.0 - (rmse / target_range)) * 100

print(str(int(percentage_accuracy)) + " %")

82 %

## 82%