In [6]:
import pandas as pd

In [13]:
df = pd.read_csv('../data/hsmsx.csv')

,Unnamed: 0,conduct,age,gender,nationality,pob,tutor/makeup,grade,admission,guardian,...,physics,gpa,literature,biology,geography,history,civics,ent-ship,matrik,level
0,0,a,10.0,f,ethiopian,ethiopia,yes,5,paid,both,...,NaN,89.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
1,1,b,12.0,m,ethiopian,ethiopia,no,5,scholarship,both,...,NaN,81.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
2,2,a,10.0,m,ethiopian,ethiopia,yes,5,paid,both,...,NaN,87.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
3,3,c,11.0,m,ethiopian,ethiopia,no,5,paid,both,...,NaN,85.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
4,4,b,11.0,f,ethiopian,foriegn_soil,no,5,paid,mother,...,NaN,95.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,282,b,17.0,f,ethiopian,ethiopia,no,12,paid,both,...,NaN,89.5,93.07,NaN,83.29,91.94,88.78,90.61,86.1,highschool
283,283,b,18.0,f,ethiopian,ethiopia,no,12,paid,both,...,NaN,83.4,96.50,NaN,77.82,89.68,83.32,87.04,79.5,highschool
284,284,a,17.0,f,canadian,ethiopia,yes,12,paid,both,...,NaN,84.2,93.07,NaN,79.02,89.55,91.92,84.82,83.2,highschool
285,285,a,18.0,f,ethiopian,ethiopia,yes,12,paid,both,...,NaN,82.9,91.37,NaN,77.47,87.20,86.18,81.16,78.9,highschool
286,286,a,18.0,m,ethiopian,ethiopia,no,12,paid,both,...,NaN,86.6,86.65,NaN,85.60,86.30,88.95,86.36,83.9,highschool

In [8]:
df['grade']=pd.to_numeric(df['grade'])

In [9]:
def conval(x):
    if x >= 9:
        return 'highschool'
    else:
        return 'middleschool'
    
df['level'] = df.grade.apply(conval)

In [10]:
df.level.value_counts()

highschool      172
middleschool    115
Name: level, dtype: int64

In [12]:
df.to_csv('../data/hsmsx.csv', index=False)