## Loading Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

#### Loading data

In [2]:
df = pd.read_csv(r"../data/hsmsx.csv")
df.head()

,conduct,age,gender,nationality,pob,tutor/makeup,grade,admission,guardian,time_with_parents,...,physics,gpa,literature,biology,geography,history,civics,ent-ship,matrik,level
0,a,10.0,f,ethiopian,ethiopia,yes,5,paid,both,a lot,...,NaN,89.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
1,b,12.0,m,ethiopian,ethiopia,no,5,scholarship,both,little,...,NaN,81.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
2,a,10.0,m,ethiopian,ethiopia,yes,5,paid,both,a lot,...,NaN,87.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
3,c,11.0,m,ethiopian,ethiopia,no,5,paid,both,a lot,...,NaN,85.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool
4,b,11.0,f,ethiopian,foriegn_soil,no,5,paid,mother,a lot,...,NaN,95.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,middleschool